html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/*TileCSS*/

/*.pageWrapper{
    text-align : center;
}*/

.indexCss{

    display : table;
    margin : 0 auto;
}

.footerCss{
    display : table;
    margin : 0 auto;
    text-align : left;
    padding : 10px;
}


.containerTiles {
    display : grid;
    grid-template-columns : repeat(2, 425px);
    justify-content : center;
    column-gap : 15px;
    row-gap : 2px;
    background-color : lightgrey;
    padding : 2px 10px 2px 10px;
}

.tile{
    display : flex;
    max-width: 100%;
    background-color : white;
    border : 1px solid ddd;
    border-radius : 10px;
    padding-left: 10px;
}

.linkerkantTile, rechterkantTile{
    flex : 1;
    padding : 10px;
}

.titelHotel{
    text-align : left;
}

.hoofdTitel{
    width : 100%;
    text-align : left;
    padding-left : 10px;
}

.buttons{
    padding-right : 10px;
}

.sterren{
    padding: 10px 0 10px 0;
    text-align : left;
}

.benefit{
    padding-top : 5px;
    text-align : left;
}

.sterren img{
    width : 20px;
    height : 20px;
}

.imgHotel{
    position : relative;
}

.imgHotel img {
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }


.score {
    position: absolute;
    border: 1px solid black;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color : white;
}

.btnFoto, .btnBewaren {
    display: inline-block;
    background-color: grey;
    color: white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding : 5px;
    border-top-left-radius : 10px;
    border-bottom-left-radius : 10px;
}

.btnVideo {
    display: inline-block;
    background-color: grey;
    color: white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding: 5px;
    border-radius : 10px;
}


.btnFoto:hover, .btnBewaren:hover, .btnVideo:hover {
    background-color: lightskyblue;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor : pointer;
}

.buttons a:hover, .buttons a:link, .buttons a:visited, .buttons a:active {
    color: #ffffff;
    text-decoration: none;
}

