@model List<Vacation9.ViewModels.HotelVM>

@{
    ViewData["Title"] = "Index";

    var type = Model.FirstOrDefault()?.Country;

    string title = type switch
    {
        Vacation9.Domains.Entities.CountryType.Coast => "Lijst kust",
        Vacation9.Domains.Entities.CountryType.Wallonia => "Lijst ardennen",
        _ => "Lijst"
    };
}

<div class="indexCss">

<h1 class="hoofdTitel">@title</h1>
    <div class="containerTiles">
        @foreach (var hotel in Model)
        { 
            @await Html.PartialAsync("DisplayTemplates/_HotelTile", hotel)
        }
    </div>
</div>

