<footer class="border-top footer text-muted">
    <div class="footerCss">
        <img src="~/images/TuiSmall.png" alt="TuiSmall" asp-append-version="true"/>
        - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>